<!-- /usuario/home -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/estilos/styles.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title th:text="'Olá, ' + ${nome} + '! | KittyHelp'"></title>
    <link rel="icon" href="/imagens/logo-preto.png">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="logo-container">
            <img th:href="@{/usuario/home/{id}(id=${idUsuario})}" src="/imagens/logo.png" alt="Logo" style="height: 40px;">
            <span class="logo-text">KittyHelp</span>
        </div>
        <div class="navbar-nav mx-auto">
            <div class="greeting-section" style="display: flex; align-items: center">
                <span style="margin: 12px">Bem vindo, <strong><span th:text="${nome}"></span></strong>!</span>
                <span class="user-initials-circle"
                      th:text="${#strings.toUpperCase(nome.charAt(0) + '' + nome.charAt(nome.indexOf(' ') + 1))}"></span>
            </div>
        </div>
        <a style="margin-left: 8px" th:href="@{/logout}" class="btn btn-outline-danger">Sair</a>
    </div>
</nav>

<div class=" mt-5 container-card" style="margin-bottom: 15%; display: flex">
    <div class="container mt-5 card" style="width: auto; align-items: center">
        <div class="card-body">

            <div style="display: flex;justify-content: space-between; align-items: center">
            <h2 class="mb-4">Seus Chamados</h2>
                <div>
            <a th:href="@{/tickets/new/{idUsuario}(idUsuario=${idUsuario})}" class="btn btn-success">+ Novo Chamado</a>
                </div></div>
            <br>
            <table class="table">
                <thead>
                <tr>
                    <th>Data de Abertura</th>
                    <th>Título</th>
                    <th>Setor</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td th:text="${#dates.format(ticket.data, 'dd/MM/yyyy')}"></td>
                    <td th:text="${ticket.titulo}"></td>
                    <td th:text="${ticket.setor}"></td>
                    <td th:text="${ticket.status}"></td>
                    <td>
                        <a th:href="@{/tickets/{id}(id=${ticket.id})}" class="btn btn-secondary">Detalhar</a>

                        <a th:href="@{/tickets/excluir/{id}(id=${ticket.id}, idUsuario=${idUsuario})}"
                           class="btn btn-outline-danger">Excluir</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            tickets: []
        },
        created() {
            this.fetchTickets();
        },
        methods: {
            fetchTickets() {
                fetch('/ticket')
                    .then(response => response.json())
                    .then(data => {
                        this.tickets = data;
                    })
                    .catch(err => console.error('Failed to fetch tickets:', err));
            }
        }
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.delete-ticket').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function (result) {
                    // Recarregar a página ou atualizar a tabela de tickets
                    location.reload();
                }
            });
        });
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
