<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Dashboard do Administrador</title>
    <link rel="stylesheet" href="/estilos/styles.css">
    <script src="https://kit.fontawesome.com/ab398cb506.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="/estilos/charts.js"></script>

</head>
<body>
<div class="dashboard-container">
    <canvas id="ticketsbysetor" style="width:100%;max-width:600px"></canvas>
    <canvas id="ticketsbysetorestatus" style="width:100%;max-width:600px"></canvas>
    <canvas id="ticketsByStatus" style="width:100%;max-width:600px"></canvas>
</div>
</body>