body {
    font-family: Arial, sans-serif;
    background-color: #FCF7F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    width: 108%;
    padding: 10px;
    font-size: 16px;
    background-color: #E5989B;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #d3dbd9;
}

/*
Código home:
*/
.home {
    background-color: #f0e6e6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home .div {
    background-color: #f0e6e6;
    overflow: hidden;
    width: 1440px;
    height: 3978px;
    position: relative;
}

.home .navbar {
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 160px;
    position: absolute;
    top: 0;
    left: 0;
}

.home .navbar-brand {
    position: relative;
    width: 158px;
    height: 56px;
}

.home .div-2 {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.home .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 16px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 6px;
    overflow: hidden;
}

.home .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-regular-16-font-family);
    font-weight: var(--body-regular-16-font-weight);
    color: var(--shadesblack);
    font-size: var(--body-regular-16-font-size);
    letter-spacing: var(--body-regular-16-letter-spacing);
    line-height: var(--body-regular-16-line-height);
    white-space: nowrap;
    font-style: var(--body-regular-16-font-style);
}

.home .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Quicksand-Regular", Helvetica;
    font-weight: 400;
    color: var(--shadesblack);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.home .icon {
    position: relative;
    width: 16px;
    height: 16px;
}

.home .frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.home .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-bold-16-font-family);
    font-weight: var(--body-bold-16-font-weight);
    color: #000000;
    font-size: var(--body-bold-16-font-size);
    letter-spacing: var(--body-bold-16-letter-spacing);
    line-height: var(--body-bold-16-line-height);
    white-space: nowrap;
    font-style: var(--body-bold-16-font-style);
}

.home .material-symbols {
    position: relative;
    width: 24px;
    height: 24px;
}

.home .frame-2 {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 106px;
}

.home .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    position: relative;
    flex: 0 0 auto;
}

.home .image {
    position: relative;
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.home .p {
    position: relative;
    width: 472px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.home .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-is-5-font-family);
    font-weight: var(--heading-is-5-font-weight);
    color: #000000;
    font-size: var(--heading-is-5-font-size);
    letter-spacing: var(--heading-is-5-letter-spacing);
    line-height: var(--heading-is-5-line-height);
    white-space: nowrap;
    font-style: var(--heading-is-5-font-style);
}

.home .text-wrapper-5 {
    position: relative;
    width: 472px;
    font-family: var(--body-regular-24-font-family);
    font-weight: var(--body-regular-24-font-weight);
    color: #000000;
    font-size: var(--body-regular-24-font-size);
    letter-spacing: var(--body-regular-24-letter-spacing);
    line-height: var(--body-regular-24-line-height);
    font-style: var(--body-regular-24-font-style);
}

.home .img {
    position: relative;
    width: 793px;
    height: 789px;
    margin-left: -37px;
}

.home .group {
    position: absolute;
    width: 454px;
    height: 319px;
    top: 153px;
    left: 564px;
}

.home .text-wrapper-6 {
    position: absolute;
    top: 191px;
    left: 0;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #353030;
    font-size: 102.1px;
    letter-spacing: 0;
    line-height: normal;
}

.home .overlap-group {
    position: absolute;
    width: 158px;
    height: 164px;
    top: 0;
    left: 131px;
    background-image: url(./img/image.svg);
    background-size: 100% 100%;
}

.home .thumbnail {
    position: absolute;
    width: 158px;
    height: 164px;
    top: 0;
    left: 0;
}

.home .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 1018px;
    left: 106px;
}

.home .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-is-2-font-family);
    font-weight: var(--heading-is-2-font-weight);
    color: #000000;
    font-size: var(--heading-is-2-font-size);
    letter-spacing: var(--heading-is-2-letter-spacing);
    line-height: var(--heading-is-2-line-height);
    white-space: nowrap;
    font-style: var(--heading-is-2-font-style);
}

.home .text-wrapper-8 {
    position: relative;
    width: 660px;
    font-family: var(--body-regular-20-font-family);
    font-weight: var(--body-regular-20-font-weight);
    color: #000000;
    font-size: var(--body-regular-20-font-size);
    letter-spacing: var(--body-regular-20-letter-spacing);
    line-height: var(--body-regular-20-line-height);
    font-style: var(--body-regular-20-font-style);
}

.home .imagem {
    position: relative;
    width: 173px;
    height: 138px;
}

.home .frame-5 {
    display: flex;
    flex-wrap: wrap;
    width: 1210px;
    align-items: flex-start;
    gap: 134px 160px;
    position: absolute;
    top: 1880px;
    left: 106px;
}

.home .rectangle {
    height: 350px;
    position: relative;
    width: 550px;
}

.home .group-2 {
    position: relative;
    width: 532px;
    height: 350px;
    margin-right: -6px;
}

.home .text-wrapper-9 {
    position: absolute;
    width: 432px;
    top: 48px;
    left: 0;
    font-family: var(--heading-is-3-font-family);
    font-weight: var(--heading-is-3-font-weight);
    color: #000000;
    font-size: var(--heading-is-3-font-size);
    letter-spacing: var(--heading-is-3-letter-spacing);
    line-height: var(--heading-is-3-line-height);
    font-style: var(--heading-is-3-font-style);
}

.home .text-wrapper-10 {
    position: absolute;
    width: 526px;
    top: 110px;
    left: 0;
    font-family: var(--body-regular-20-font-family);
    font-weight: var(--body-regular-20-font-weight);
    color: #000000;
    font-size: var(--body-regular-20-font-size);
    letter-spacing: var(--body-regular-20-letter-spacing);
    line-height: var(--body-regular-20-line-height);
    font-style: var(--body-regular-20-font-style);
}

.home .text-wrapper-11 {
    position: absolute;
    width: 196px;
    top: 0;
    left: 0;
    font-family: var(--body-bold-16-font-family);
    font-weight: var(--body-bold-16-font-weight);
    color: #000000;
    font-size: var(--body-bold-16-font-size);
    letter-spacing: var(--body-bold-16-letter-spacing);
    line-height: var(--body-bold-16-line-height);
    font-style: var(--body-bold-16-font-style);
}

.home .rectangle-2 {
    height: 410px;
    object-fit: cover;
    position: relative;
    width: 550px;
}

.home .group-3 {
    position: relative;
    width: 532px;
    height: 410px;
    margin-right: -6px;
}

.home .rectangle-3 {
    height: 456px;
    object-fit: cover;
    position: relative;
    width: 550px;
}

.home .group-4 {
    position: relative;
    width: 532px;
    height: 456px;
    margin-right: -6px;
}

.home .text-wrapper-12 {
    position: absolute;
    width: 526px;
    top: 186px;
    left: 0;
    font-family: var(--body-regular-20-font-family);
    font-weight: var(--body-regular-20-font-weight);
    color: #000000;
    font-size: var(--body-regular-20-font-size);
    letter-spacing: var(--body-regular-20-letter-spacing);
    line-height: var(--body-regular-20-line-height);
    font-style: var(--body-regular-20-font-style);
}

.home .frame-6 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px 185px;
    position: absolute;
    top: 3685px;
    left: 0;
    background-color: #fcf7f6;
}

.home .frame-7 {
    display: flex;
    width: 764px;
    align-items: center;
    justify-content: center;
    gap: 154px;
    position: relative;
    flex: 0 0 auto;
}

.home .navbar-brand-2 {
    position: relative;
    width: 158px;
    height: 56px;
    margin-left: -152.5px;
}

.home .group-5 {
    position: relative;
    width: 164px;
    height: 144px;
}

.home .text-wrapper-13 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--body-bold-16-font-family);
    font-weight: var(--body-bold-16-font-weight);
    color: #000000;
    font-size: var(--body-bold-16-font-size);
    letter-spacing: var(--body-bold-16-letter-spacing);
    line-height: var(--body-bold-16-line-height);
    white-space: nowrap;
    font-style: var(--body-bold-16-font-style);
}

.home .text-wrapper-14 {
    position: absolute;
    top: 40px;
    left: 0;
    font-family: var(--body-regular-16-font-family);
    font-weight: var(--body-regular-16-font-weight);
    color: #000000;
    font-size: var(--body-regular-16-font-size);
    letter-spacing: var(--body-regular-16-letter-spacing);
    line-height: var(--body-regular-16-line-height);
    white-space: nowrap;
    font-style: var(--body-regular-16-font-style);
}

.home .text-wrapper-15 {
    position: absolute;
    top: 80px;
    left: 0;
    font-family: var(--body-regular-16-font-family);
    font-weight: var(--body-regular-16-font-weight);
    color: #000000;
    font-size: var(--body-regular-16-font-size);
    letter-spacing: var(--body-regular-16-letter-spacing);
    line-height: var(--body-regular-16-line-height);
    white-space: nowrap;
    font-style: var(--body-regular-16-font-style);
}

.home .text-wrapper-16 {
    position: absolute;
    width: 118px;
    top: 120px;
    left: 0;
    font-family: var(--body-regular-16-font-family);
    font-weight: var(--body-regular-16-font-weight);
    color: #000000;
    font-size: var(--body-regular-16-font-size);
    letter-spacing: var(--body-regular-16-letter-spacing);
    line-height: var(--body-regular-16-line-height);
    white-space: nowrap;
    font-style: var(--body-regular-16-font-style);
}

.home .group-6 {
    position: relative;
    width: 170px;
    height: 104px;
}

.home .text-wrapper-17 {
    position: absolute;
    width: 164px;
    top: 40px;
    left: 0;
    font-family: var(--body-regular-16-font-family);
    font-weight: var(--body-regular-16-font-weight);
    color: #000000;
    font-size: var(--body-regular-16-font-size);
    letter-spacing: var(--body-regular-16-letter-spacing);
    line-height: var(--body-regular-16-line-height);
    white-space: nowrap;
    font-style: var(--body-regular-16-font-style);
}

.home .text-wrapper-18 {
    position: absolute;
    width: 164px;
    top: 80px;
    left: 0;
    font-family: var(--body-regular-16-font-family);
    font-weight: var(--body-regular-16-font-weight);
    color: #000000;
    font-size: var(--body-regular-16-font-size);
    letter-spacing: var(--body-regular-16-letter-spacing);
    line-height: var(--body-regular-16-line-height);
    white-space: nowrap;
    font-style: var(--body-regular-16-font-style);
}

.home .frame-8 {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -152.5px;
}

.home .line {
    position: relative;
    width: 1069px;
    height: 1px;
    object-fit: cover;
}

.home .text-wrapper-19 {
    position: relative;
    width: fit-content;
    font-family: var(--body-regular-14-font-family);
    font-weight: var(--body-regular-14-font-weight);
    color: #353030;
    font-size: var(--body-regular-14-font-size);
    letter-spacing: var(--body-regular-14-letter-spacing);
    line-height: var(--body-regular-14-line-height);
    white-space: nowrap;
    font-style: var(--body-regular-14-font-style);
}
