:root {
  --shadesblack: rgba(10, 10, 10, 1);
  --body-regular-16-font-family: "Quicksand", Helvetica;
  --body-regular-16-font-weight: 400;
  --body-regular-16-font-size: 16px;
  --body-regular-16-letter-spacing: 0px;
  --body-regular-16-line-height: 150%;
  --body-regular-16-font-style: normal;
  --body-bold-16-font-family: "Quicksand", Helvetica;
  --body-bold-16-font-weight: 700;
  --body-bold-16-font-size: 16px;
  --body-bold-16-letter-spacing: 0px;
  --body-bold-16-line-height: 150%;
  --body-bold-16-font-style: normal;
  --heading-is-5-font-family: "Quicksand", Helvetica;
  --heading-is-5-font-weight: 700;
  --heading-is-5-font-size: 20px;
  --heading-is-5-letter-spacing: 0px;
  --heading-is-5-line-height: 120.00000476837158%;
  --heading-is-5-font-style: normal;
  --body-regular-24-font-family: "Quicksand", Helvetica;
  --body-regular-24-font-weight: 400;
  --body-regular-24-font-size: 24px;
  --body-regular-24-letter-spacing: 0px;
  --body-regular-24-line-height: 150%;
  --body-regular-24-font-style: normal;
  --heading-is-2-font-family: "Quicksand", Helvetica;
  --heading-is-2-font-weight: 700;
  --heading-is-2-font-size: 40px;
  --heading-is-2-letter-spacing: 0px;
  --heading-is-2-line-height: 120.00000476837158%;
  --heading-is-2-font-style: normal;
  --body-regular-20-font-family: "Quicksand", Helvetica;
  --body-regular-20-font-weight: 400;
  --body-regular-20-font-size: 20px;
  --body-regular-20-letter-spacing: 0px;
  --body-regular-20-line-height: 150%;
  --body-regular-20-font-style: normal;
  --heading-is-3-font-family: "Quicksand", Helvetica;
  --heading-is-3-font-weight: 700;
  --heading-is-3-font-size: 32px;
  --heading-is-3-letter-spacing: 0px;
  --heading-is-3-line-height: 120.00000476837158%;
  --heading-is-3-font-style: normal;
  --body-regular-14-font-family: "Quicksand", Helvetica;
  --body-regular-14-font-weight: 400;
  --body-regular-14-font-size: 14px;
  --body-regular-14-letter-spacing: 0px;
  --body-regular-14-line-height: 150%;
  --body-regular-14-font-style: normal;
}
