<footer>
    <img src="/imagens/logo-preto.png" alt="Logo KittyHelp">
    <div class="links">
        <p><strong>SOBRE A KITTYHELP</strong></p>
        <a href="/">Como funciona</a><br>
        <a href="/">Soluções</a><br>
        <a href="https://github.com/nicole-brito/projeto-elashelp">Documentação</a>
    </div>
    <div class="links">
        <p><strong>SOBRE NÓS</strong></p>
        <a href="/sobre">As Desenvolvedoras</a><br>
        <a href="https://soulcode.com">A SoulCode</a>
    </div>
    <a href="/admin/home" class="client-area-link">
        Página Inicial
        <i class="fa-solid fa-arrow-right-long"></i>
    </a>
</footer>