<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="logo-container">
            <img src="/imagens/logo.png" alt="Logo" style="height: 40px;">
            <span class="logo-text">KittyHelp</span>
        </div>
        <div class="navbar-nav mx-auto">
<!--            <a class="nav-link active" href="/admin/home">Home</a>-->
<!--            <a class="nav-link" href="#estatisticas">Estátisticas</a>-->
<!--            <a class="nav-link" href="#tecnicos">Técnicos</a>-->
<!--            <a class="nav-link" href="#tickets">Chamados</a>-->
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-expanded="false">
                    Mais
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="/sobre">Desenvolvedoras</a>
                    <a href="https://github.com/nicole-brito/projeto-elashelp">Documentação</a>
                </div>
            </div>
        </div>
        <div class="greeting-section" style="display: flex; align-items: center">
            <span style="margin: 12px">Olá, <strong><span th:text="${nome}"></span></strong>!</span>
            <span class="user-initials-circle"
                  th:text="${#strings.toUpperCase(nome.charAt(0) + '' + nome.charAt(nome.indexOf(' ') + 1))}"></span>
        </div>
    </div>
</nav>
