<nav class="navbar">
    <div class="logo">
        <img src="/imagens/logo-preto.png" alt="Logo">
    </div>
    <div class="navbar-menu">
        <a href="/">Início</a>
        <a href="/sobre">Sobre</a>
        <div class="dropdown">
            <a href="#" class="dropdown-toggle">Mais</a>
            <div class="dropdown-menu">
                <a href="/escolhercadastro">Cadastro</a>
                <a href="https://github.com/nicole-brito/projeto-elashelp">Documentação</a>
            </div>
        </div>
    </div>
    <div class="navbar-right">
        <a href="/escolhercadastro" class="client-area-link">
            Área do Cliente
            <i class="fa-solid fa-arrow-right-long"></i>
        </a>
    </div>
</nav>