<!-- /usuario/cadastro -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="/estilos/styles.css">
</head>
<body>
<div class="cadastro-container">
    <h2>Criar Conta Usuário</h2>
    <form th:action="@{/usuario/cadastro}" th:object="${usuario}" method="post">
        <div class="form-row">
            <div class="form-col">
                <div class="esquerda-group">

                    <input placeholder="CPF" type="number" th:field="*{cpf}" id="cpf" required>
                </div>
                <br>
                <br>
                <div class="esquerda-group">

                    <input placeholder="Nome" type="text" th:field="*{nome}" id="nome" required>
                </div>
                <br>
                <br>
                <div class="esquerda-group">

                    <input placeholder="Senha" type="password" th:field="*{senha}" id="senha" required>
                </div>
            </div>
            <br>
            <br>
            <div class="form-col">
                <div class="direita-group">

                    <input placeholder="Email" type="email" th:field="*{email}" id="email" required>
                </div>
                <br>
                <br>
                <div class="direita-group">

                    <input placeholder="Sobrenome" type="text" th:field="*{sobrenome}" id="sobrenome">
                </div>
                <br>
                <div class="direita-group">

                    <input placeholder="Telefone" type="number" th:field="*{telefone}" id="telefone">
                </div>
                <br>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <div class="botao2-group">
                <button type="submit">Criar conta</button>
            </div>
            <div class="botao-group">
                <a href="/login">
                    <button type="button">Já tenho uma conta</button>
                </a>
            </div>
        </div>
    </form>
</div>
</body>
</html>