<!-- /tecnico/cadastro -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/estilos/styles.css">
    <title>KittyHelp</title>
    <link rel="icon" href="/imagens/logo-preto.png">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="logo-container">
            <img src="/imagens/logo.png" alt="Logo" style="height: 40px;">
            <span class="logo-text">KittyHelp</span>
        </div>
        <div class="navbar-nav mx-auto">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="#">Serviços</a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Mais
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="/sobre">Desenvolvedoras</a>
                    <a href="https://github.com/nicole-brito/projeto-elashelp">Documentação</a>
                </div>
            </div>
        </div>
        <div class="auth-buttons">
            <a href="/escolhercadastro">
                <button type="button" class="btn btn-primary">Criar conta</button>
            </a>
            <a href="/login">

                <button type="button" class="btn btn-outline-secondary">Entrar</button>
            </a>

        </div>
    </div>
</nav>






<div class="cadastro-container">
    <h2 class="is-title">Criar Conta Técnico</h2>
    <form th:action="@{/tecnico/cadastro}" th:object="${tecnico}" method="post">
        <div class="form-row">
            <div class="form-col">
                <div class="esquerda-group">
                    <input placeholder="Matrícula" type="number" th:field="*{matricula}" id="matricula" required>
                </div>
                <br>
                <br>
                <div class="esquerda-group">
                    <input placeholder="Nome" type="text" th:field="*{nome}" id="nome" required>
                </div>
                <br>
                <br>
                <div class="esquerda-group">

                    <input placeholder="Senha" type="password" th:field="*{senha}" id="senha" required>
                </div>
            </div>
            <br>
            <br>
            <div class="form-col">
                <div class="direita-group">

                    <input placeholder="Email" type="email" th:field="*{email}" id="email" required>
                </div>
                <br>
                <br>
                <div class="direita-group">

                    <input placeholder="Telefone" type="number" th:field="*{telefone}" id="telefone" required>
                </div>
                <br>
                <br>
                <div class="direita-group">

                    <select th:field="*{setor}" id="setor" required>
                        <option value="">Selecione um Setor</option>
                        <
                        <option th:each="s : ${T(com.soulcode.elashelp.Models.Setor).values()}"
                                th:value="${s}"
                                th:text="${s}">
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <div class="botao2-group">
                <button type="submit">Criar conta</button>
            </div>
            <div class="botao-group">
                <a href="/login">
                    <button type="button">Já tenho uma conta</button>
                </a>
            </div>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>

<div th:if="${success}" class="notification is-success is-light" role="alert">
    <button class="delete"></button>
    <p th:text="${success}"></p>
</div>
<div th:if="${error}" class="notification is-danger is-light" role="alert">
    <button class="delete"></button>
    <p th:text="${error}"></p>
</div>
</body>
</html>