<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="/estilos/styles.css">
</head>
<body>
<div class="login-container">
    <h2>Criar Conta Usuário</h2>
    <form th:action="@{/cadastro}" th:object="${usuario}" method="post">
        <div class="input-group">
            <label for="cpf">CPF:</label>
            <input type="text" th:field="*{cpf}" id="cpf" required>
        </div>
        <div class="input-group">
            <label for="nome">Nome:</label>
            <input type="text" th:field="*{nome}" id="nome" required>
        </div>
        <div class="input-group">
            <label for="nome">Senha:</label>
            <input type="password" th:field="*{senha}" id="senha" required>
        </div>
        <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" th:field="*{email}" id="email" required>
        </div>
        <div class="input-group">
            <label for="telefone">Telefone:</label>
            <input type="number" th:field="*{telefone}" id="telefone">
        </div>
        <button type="submit">Cadastrar</button>
    </form>
</div>
</body>
</html>