<!-- /tecnico/cadastro -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Técnico</title>
    <link rel="stylesheet" href="/estilos/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
<div class="cadastro-container">
    <div th:if="${success}" class="notification is-success is-light" role="alert">
        <button class="delete"></button>
        <p th:text="${success}"></p>
    </div>
    <div th:if="${error}" class="notification is-danger is-light" role="alert">
        <button class="delete"></button>
        <p th:text="${error}"></p>
    </div>
    <h2 class="is-title">Criar Conta Técnico</h2>
    <form th:action="@{/cadastrotecnico}" th:object="${tecnico}" method="post">
        <div class="form-row">
            <div class="form-col">
                <div class="esquerda-group">
                    <input placeholder="Matrícula" type="number" th:field="*{matricula}" id="matricula" required>
                </div>
                <br>
                <br>
                <div class="esquerda-group">
                    <input placeholder="Nome" type="text" th:field="*{nome}" id="nome" required>
                </div>
                <br>
                <br>
                <div class="esquerda-group">

                    <input placeholder="Senha" type="password" th:field="*{senha}" id="senha" required>
                </div>
            </div>
            <br>
            <br>
            <div class="form-col">
                <div class="direita-group">

                    <input placeholder="Email" type="email" th:field="*{email}" id="email" required>
                </div>
                <br>
                <br>
                <div class="direita-group">

                    <input placeholder="Telefone" type="number" th:field="*{telefone}" id="telefone" required>
                </div>
                <br>
                <br>
                <div class="direita-group">

                    <select th:field="*{setor}" id="setor" required>
                        <option value="">Selecione um Setor</option>
                        <
                        <option th:each="s : ${T(com.soulcode.elashelp.Models.Setor).values()}"
                                th:value="${s}"
                                th:text="${s}">
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <div class="botao2-group">
                <button type="submit">Criar conta</button>
            </div>
            <div class="botao-group">
                <a href="/login">
                    <button type="button">Já tenho uma conta</button>
                </a>
            </div>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>
</body>
</html>