<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipo de Cadastro</title>
    <link rel="stylesheet" href="estilos/styles.css">
</head>
<body>
<div class="barra">
    <div>
        <a href="/login">
            <button type="button" class="botaologin" >Entrar</button>
        </a>
    </div>
</div>


<div class="container">
    <br>
    <br>
  <center><h2>Cadastre, é rapido, é seguro, é KittyHelp!</h2></center>
    <br>

<center>

        <!-- Card de Usuário -->
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/imagens/usuario.png" alt="Imagem de capa do card">
            <div class="card-body">
                    <h3 class="card-title">USUÁRIO</h3>
                    <p class="card-text">Registre-se como usuário agora para obter suporte técnico rápido e eficiente! Ao se cadastrar, você terá acesso aos nossos serviços de assistência técnica e poderá abrir chamados para resolver problemas de TI de forma ágil.</p>
                <br>
                <br>
                <center>
                <div class="botaocad"><a href="/cadastro">
                <button>Cadastrar como Usuário</button>
            </a>

                </div>
                </center>
            </div>
           <br>
        </div>
        <!-- Card de Técnico -->
        <div class="card">
            <img class="card-img-top" src="imagens/tecnico.png" alt="Imagem de capa do card">
            <div class="card-body">
                    <h3 class="card-title">TÉCNICO</h3>
                <p class="card-text">Seja parte da nossa equipe de suporte técnico! Ao criar uma conta de técnico, você terá acesso às ferramentas necessárias para resolver chamados de TI de forma eficiente e ajudar nossos usuários.</p>

                <br>
                <br>
                <center> <div class="botaocad">
                <a href="/cadastrotecnico">
                    <button>Cadastrar como Técnico</button>
                </a>
                </div>
               </center>
                <br>

            </div>
        </div>
    </div>


</center>
</div>
</body>
</html>