<!-- /escolhercadastro -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="/estilos/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>KittyHelp</title>
    <link rel="icon" href="/imagens/logo-preto.png">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="logo-container">
            <img src="/imagens/logo.png" alt="Logo" style="height: 40px;">
            <span class="logo-text">KittyHelp</span>
        </div>
        <div class="navbar-nav mx-auto">
            <a class="nav-link" href="/">Inicio</a>
            <a class="nav-link" href="/sobre">Sobre</a>
            <a class="nav-link" href="https://github.com/nicole-brito/projeto-elashelp">Documentação</a>
        </div>
        <div class="auth-buttons">
            <a href="/login">
                <button type="button" class="btn btn-outline-secondary">Entrar</button>
            </a>
        </div>
        <a style="margin-left: 8px" th:href="@{/logout}" class="btn btn-outline-danger">Sair</a>
    </div>
</nav>

<body>
<div class="container">

    <div style="text-align: center;"><h2>Cadastre, é rapido, é seguro, é KittyHelp!</h2></div>
    <br>

    <div style="text-align: center;">
        <!-- Card de Usuário -->
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="/imagens/usuario.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h3 class="card-title">USUÁRIO</h3>
                    <p class="card-text">Registre-se como usuário agora para obter suporte técnico rápido e eficiente!
                        Ao se cadastrar, você terá acesso aos nossos serviços de assistência técnica e poderá abrir
                        chamados para resolver problemas de TI de forma ágil.</p>
                    <br>
                    <br>
                    <center>
                        <div ><a href="/usuario/cadastro">
                            <button>Cadastrar como Usuário</button>
                        </a>
                        </div>
                    </center>
                </div>
                <br>
            </div>
            <!-- Card de Técnico -->
            <div class="card">
                <img class="card-img-top" src="/imagens/tecnico.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h3 class="card-title">TÉCNICO</h3>
                    <p class="card-text">Seja parte da nossa equipe de suporte técnico! Ao criar uma conta de técnico,
                        você terá acesso às ferramentas necessárias para resolver chamados de TI de forma eficiente e
                        ajudar nossos usuários.</p>
                    <br>
                    <br>
                    <center>
                        <div ><a href="/tecnico/cadastro">
                            <button>Cadastrar como Técnico</button>
                        </a>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>