<!-- / -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="/estilos/styles.css">
    <script src="https://kit.fontawesome.com/ab398cb506.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <img src="/imagens/logo-preto.png" alt="Logo">
    </div>
    <div class="navbar-menu">
        <a href="/">Início</a>
        <a href="/sobre">Sobre</a>
        <div class="dropdown">
            <a href="#" class="dropdown-toggle">Mais</a>
            <div class="dropdown-menu">
                <a href="/escolhercadastro">Cadastro</a>
                <a href="https://github.com/nicole-brito/projeto-elashelp">Documentação</a>
            </div>
        </div>
    </div>
    <div class="navbar-right">
        <a href="/escolhercadastro" class="client-area-link">
            Área do Cliente
            <i class="fa-solid fa-arrow-right-long"></i>
        </a>
    </div>
</nav>

<div class="home">
    <div class="frame">
        <div class="frame2">
            <div class="frame3">

                <p class="digite-miau"><img src="/imagens/image-mini-gato.png" alt="Mini gato"/>  Digite “miau” para achar a solução </p>
            </div>
            <p class="sua-solucao-em-service-desk">Sua solução em Service Desk</p>
            <p class="texticulo-service-desk">
                KittyHelp é o seu serviço de assistência técnica com um toque divertido e eficaz
            </p>
        </div>
        <div class="group">
            <img class="image-kittyhelp" src="/imagens/gato-preto.png" alt="Foto KittyHelp" height="164" width="159">
            <div class="texto-logo-kittyhelp">KittyHelp</div>
        </div>
    </div>
    <div class="frame4">
        <div class="sobre-kittyhelp">Sobre a KittyHelp</div>
        <p class="sobre-kittyhelp-texto">
            KittyHelp é o seu serviço de assistência técnica com um toque divertido e eficaz. Nossa equipe especializada
            está pronta para resolver todos os seus problemas tecnológicos com rapidez e habilidade, enquanto mantém um
            ambiente descontraído e amigável. Seja um computador lento, um smartphone com bugs ou qualquer outra questão
            tecnológica, deixe nossos especialistas em TI cuidarem disso para você. Com KittyHelp, transformamos
            desafios em momentos divertidos, garantindo que você volte a curtir a tecnologia sem preocupações. Miau para
            soluções rápidas e confiáveis!
        </p>
        <img class="img-patinha" src="imagens/patinhas.png" alt="Patinhas pretas">
    </div>
    <div class="frame5">
        <img  class="img-retangulo" src="/imagens/retangulo.png" height="350" width="550" alt="Retângulo decorativo"/>
        <div class="group-2">
            <div class="titulo-mini">A solução kitty ajuda</div>
            <div class="titulo-informativo">Desfrute da Tecnologia</div>
            <p class="texto-informativo">
                No mundo acelerado de hoje, enfrentar problemas técnicos pode ser frustrante, mas com KittyHelp ao seu
                lado, a experiência se torna suave e agradável. Nossa equipe especializada está pronta para resolver uma
                ampla gama de questões tecnológicas, desde problemas de software até configurações complexas de rede. Com
                KittyHelp, você pode relaxar sabendo que seus dispositivos estão em boas patas.
            </p>
        </div>
        <img  class="img-retangulo" src="/imagens/retangulo2.png" height="410" width="550" alt="Retângulo decorativo"/>
        <div class="group-3">
            <div class="titulo-mini">Insights valiosos</div>
            <div class="titulo-informativo">Relatórios de desempenho</div>
            <p class="texto-informativo">
                Com o KittyHelp, oferecemos relatórios de desempenho detalhados que fornecem insights valiosos sobre o uso
                e o status de seus sistemas e dispositivos. Nosso serviço permite que os administradores personalizem os
                relatórios de acordo com os setores específicos de sua organização. Isso significa que você pode monitorar
                o desempenho de diferentes áreas, como vendas, marketing, financeiro, entre outros, e identificar
                rapidamente áreas que precisam de atenção ou melhorias.
            </p>
        </div>
        <img  class="img-retangulo" src="/imagens/retangulo3.png" height="456" width="550" alt="Retângulo decorativo"/>
        <div class="group-4">
            <div class="titulo-mini">Suporte personalizado</div>
            <p class="titulo-informativo">Gestão Personalizada para Atender às Suas Necessidades</p>
            <p class="texto-informativo">
                A gestão personalizada é uma das principais vantagens do KittyHelp. Os administradores têm a flexibilidade
                de escolher quais setores terão acesso privilegiado a determinadas funcionalidades e relatórios. Isso
                garante que cada equipe tenha as ferramentas e informações necessárias para operar de maneira eficaz. Além
                disso, nossa equipe está disponível para fornecer suporte e orientação personalizados, garantindo que sua
                organização aproveite ao máximo nossos serviços.
            </p>
        </div>
    </div>
</div>
<footer>
    <img src="/imagens/logo-preto.png" alt="Logo KittyHelp">
    <div class="links">
        <p><strong>SOBRE A KITTYHELP</strong></p>
        <a href="/">Como funciona</a><br>
        <a href="/">Soluções</a><br>
        <a href="https://github.com/nicole-brito/projeto-elashelp">Documentação</a>
    </div>
    <div class="links">
        <p><strong>SOBRE NÓS</strong></p>
        <a href="/sobre">As Desenvolvedoras</a><br>
        <a href="https://soulcode.com">A SoulCode</a>
    </div>
    <a href="/escolhercadastro" class="client-area-link">
        Área do Cliente
        <i class="fa-solid fa-arrow-right-long"></i>
    </a>
</footer>

</body>
</html>
