<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/estilos/styleguide.css" />
    <link rel="stylesheet" href="/static/estilos/styles.css" />
</head>
<body>
<div class="home">
    <div class="div">
        <div class="navbar">
            <img class="navbar-brand" src="img/navbar-brand.png" />
            <div class="div-2">
                <div class="div-2">
                    <button class="button"><div class="text-wrapper">Início</div></button>
                </div>
                <div class="div-2">
                    <button class="button"><div class="text-wrapper">Sobre</div></button>
                </div>
                <div class="div-2">
                    <button class="button">
                        <div class="text-wrapper-2">Mais</div>
                        <img class="icon" src="img/icon.svg" />
                    </button>
                </div>
            </div>
            <div class="frame">
                <div class="text-wrapper-3">Área do Cliente</div>
                <img class="material-symbols" src="img/material-symbols-arrow-insert.svg" />
            </div>
        </div>
        <div class="frame-2">
            <div class="frame-3">
                <div class="frame">
                    <img class="image" src="img/image-6.png" />
                    <p class="text-wrapper-3">Digite “miau” para achar a solução</p>
                </div>
                <p class="p">Sua solução em Service Desk</p>
                <div class="frame">
                    <div class="text-wrapper-4">Saiba mais</div>
                    <img class="material-symbols" src="img/material-symbols-arrow-insert-3.svg" />
                </div>
                <p class="text-wrapper-5">
                    KittyHelp é o seu serviço de assistência técnica com um toque divertido e eficaz
                </p>
            </div>
            <img class="img" src="img/65f4ecafd09027c127329850-light-accent-compressed-1.png" />
            <div class="group">
                <div class="text-wrapper-6">KittyHelp</div>
                <div class="overlap-group">
                    <img class="thumbnail" src="img/oig4-thumbnail-2-traced.svg" />
                    <img class="thumbnail" src="img/oig4-thumbnail-2-traced.png" />
                </div>
            </div>
        </div>
        <div class="frame-4">
            <div class="text-wrapper-7">Sobre a KittyHelp</div>
            <p class="text-wrapper-8">
                KittyHelp é o seu serviço de assistência técnica com um toque divertido e eficaz. Nossa equipe especializada
                está pronta para resolver todos os seus problemas tecnológicos com rapidez e habilidade, enquanto mantém um
                ambiente descontraído e amigável. Seja um computador lento, um smartphone com bugs ou qualquer outra questão
                tecnológica, deixe nossos especialistas em TI cuidarem disso para você. Com KittyHelp, transformamos
                desafios em momentos divertidos, garantindo que você volte a curtir a tecnologia sem preocupações. Miau para
                soluções rápidas e confiáveis!
            </p>
            <img class="imagem" src="img/imagem-2024-05-03-224527662-thumbnail-1.png" />
        </div>
        <div class="frame-5">
            <img class="rectangle" src="img/rectangle-3.svg" />
            <div class="group-2">
                <div class="text-wrapper-9">Desfrute da Tecnologia</div>
                <p class="text-wrapper-10">
                    No mundo acelerado de hoje, enfrentar problemas técnicos pode ser frustrante, mas com KittyHelp ao seu
                    lado, a experiência se torna suave e agradável. Nossa equipe especializada está pronta para resolver uma
                    ampla gama de questões tecnológicas, desde problemas de software até configurações complexas de rede. Com
                    KittyHelp, você pode relaxar sabendo que seus dispositivos estão em boas patas.
                </p>
                <div class="text-wrapper-11">A solução kitty ajuda</div>
            </div>
            <img class="rectangle-2" src="img/rectangle-8.png" />
            <div class="group-3">
                <div class="text-wrapper-9">Relatórios de desempenho</div>
                <p class="text-wrapper-10">
                    Com o KittyHelp, oferecemos relatórios de desempenho detalhados que fornecem insights valiosos sobre o uso
                    e o status de seus sistemas e dispositivos. Nosso serviço permite que os administradores personalizem os
                    relatórios de acordo com os setores específicos de sua organização. Isso significa que você pode monitorar
                    o desempenho de diferentes áreas, como vendas, marketing, financeiro, entre outros, e identificar
                    rapidamente áreas que precisam de atenção ou melhorias.
                </p>
                <div class="text-wrapper-11">Insights valiosos</div>
            </div>
            <img class="rectangle-3" src="img/rectangle-7.png" />
            <div class="group-4">
                <p class="text-wrapper-9">Gestão Personalizada para Atender às Suas Necessidades</p>
                <p class="text-wrapper-12">
                    A gestão personalizada é uma das principais vantagens do KittyHelp. Os administradores têm a flexibilidade
                    de escolher quais setores terão acesso privilegiado a determinadas funcionalidades e relatórios. Isso
                    garante que cada equipe tenha as ferramentas e informações necessárias para operar de maneira eficaz. Além
                    disso, nossa equipe está disponível para fornecer suporte e orientação personalizados, garantindo que sua
                    organização aproveite ao máximo nossos serviços.
                </p>
                <div class="text-wrapper-11">Suporte personalizado</div>
            </div>
        </div>
        <div class="frame-6">
            <div class="frame-7">
                <img class="navbar-brand-2" src="img/image.png" />
                <div class="group-5">
                    <div class="text-wrapper-13">SOBRE A KITTYHELP</div>
                    <div class="text-wrapper-14">Como funciona</div>
                    <div class="text-wrapper-15">Soluções</div>
                    <div class="text-wrapper-16">Documentação</div>
                </div>
                <div class="group-6">
                    <div class="text-wrapper-17">As desenvolvedoras</div>
                    <div class="text-wrapper-18">A SoulCode</div>
                    <div class="text-wrapper-13">SOBRE NÓS</div>
                </div>
                <div class="frame-8">
                    <div class="text-wrapper-3">Área do Cliente</div>
                    <img class="material-symbols" src="img/material-symbols-arrow-insert-2.svg" />
                </div>
            </div>
            <img class="line" src="img/line-1.svg" />
            <div class="text-wrapper-19">#ElasTech @ 2024</div>
        </div>
    </div>
</div>
</body>
</html>
