<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="/estilos/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>KittyHelp</title>
    <link rel="icon" href="/imagens/logo-preto.png">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="logo-container">
            <img src="/imagens/logo.png" alt="Logo" style="height: 40px;">
            <span class="logo-text">KittyHelp</span>
        </div>
        <div class="navbar-nav mx-auto">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="#">Serviços</a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Mais
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="/sobre">Desenvolvedoras</a>
                    <a href="https://github.com/nicole-brito/projeto-elashelp">Documentação</a>
                </div>
            </div>
        </div>
        <div class="auth-buttons">
            <button type="button" class="btn btn-primary">Criar conta</button>
            <button type="button" class="btn btn-outline-secondary">Entrar</button>
        </div>
    </div>
</nav>
</body>
</html>