<!-- /tickets/new -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="/estilos/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>KittyHelp</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="logo-container">
            <img src="/imagens/logo.png" alt="Logo" style="height: 40px;">
            <span class="logo-text">KittyHelp</span>
        </div>
        <div class="navbar-nav mx-auto">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="#">Serviços</a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Mais
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="/sobre">Desenvolvedoras</a>
                    <a href="https://github.com/nicole-brito/projeto-elashelp">Documentação</a>
                </div>
            </div>
        </div>
        <!-- <div class="greeting-section">-->
        <!--      <span>Olá, <span th:text="${user.name}">Bianca Leal</span>!</span>-->
        <!--       <span class="user-initials-circle" th:text="${#strings.toUpperCase(user.initials)}">BL</span>-->
        <!--</div>-->
    </div>
</nav>
<body>
<div class="container mt-5">
    <h2>Novo Chamado</h2>
    <form th:href="@{/tickets/new/{idUsuario}(idUsuario=${idUsuario})}" th:object="${ticket}" method="post">

        <div class="form-group">
            <input type="hidden" name="idUsuario" th:value="${idUsuario}" />
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" th:field="*{titulo}" required>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" th:field="*{descricao}" required></textarea>
        </div>
        <div class="form-group">
            <label for="setor">Setor</label>
            <select class="form-control" id="setor" th:field="*{setor}" required>
                <option value="ADMINISTRATIVO">Administrativo</option>
                <option value="HELPDESK">Helpdesk</option>
                <option value="SUPORTE">Suporte</option>
                <option value="FINANCEIRO">Financeiro</option>
                <option value="RH">RH</option>
                <option value="MARKETING">Marketing</option>
                <option value="VENDAS">Vendas</option>
                <option value="JURIDICO">Jurídico</option>
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Criar Chamado</button>
        <a th:href="@{/tickets/todos/{idUsuario}(idUsuario=${idUsuario})}">
            <button class="btn btn-secondary" type="button">Voltar</button>
        </a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>