<!-- /sobre -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>As Desenvolvedoras</title>
    <link rel="stylesheet" href="/estilos/styles.css">
    <script src="https://kit.fontawesome.com/ab398cb506.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <img src="/imagens/logo-preto.png" alt="Logo">
    </div>
    <div class="navbar-menu">
        <a href="/">Início</a>
        <a href="/sobre">Sobre</a>
        <div class="dropdown">
            <a href="#" class="dropdown-toggle">Mais</a>
            <div class="dropdown-menu">
                <a href="/escolhercadastro">Cadastro</a>
                <a href="https://github.com/nicole-brito/projeto-elashelp">Documentação</a>
            </div>
        </div>
    </div>
    <div class="navbar-right">
        <a href="/escolhercadastro" class="client-area-link">
            Área do Cliente
            <i class="fa-solid fa-arrow-right-long"></i>
        </a>
    </div>
</nav>

<div class="container-card">
    <h1 class="is-title">As Desenvolvedoras</h1>
    <div class="card-dev">
        <img src="/imagens/anna.png" alt="Foto de Perfil Anna Paula">
        <div>
            <h2>Anna Paula</h2>
            <a href="https://www.linkedin.com/in/annapaula-marques/" target="_blank">
                <button class="button-sobre" type="button">
                    <i class="fa-brands fa-linkedin-in"></i>Linkedin
                </button>
            </a>
            <a href="https://github.com/AnnaPaulaMarques" target="_blank">
                <button class="button-sobre" type="button">
                    <i class="fa-brands fa-github"></i> Github
                </button>
            </a>
        </div>
    </div>

    <div class="card-dev">
        <img src="/imagens/angel.png" alt="Foto Angel">
        <div>
            <h2>Angel Diniz </h2>

            <a href="https://www.linkedin.com/in/angel-d-9764a1127/" target="_blank">
                <button class="button-sobre" type="button">
                    <i class="fa-brands fa-linkedin-in"></i>Linkedin
                </button>
            </a>
            <a href="https://github.com/AngelDiniz" target="_blank">
                <button class="button-sobre" type="button">
                    <i class="fa-brands fa-github"></i> Github
                </button>
            </a>
        </div>
    </div>

    <div class="card-dev">
        <img src="/imagens/bianca.png" alt="Foto Bianca">
        <div>
            <h2>Bianca Leal</h2>
            <a href="https://www.linkedin.com/in/bianca-leall/" target="_blank">
                <button class="button-sobre" type="button">
                    <i class="fa-brands fa-linkedin-in"></i>Linkedin
                </button>
            </a>
            <a href="https://github.com/Bianca-Leal" target="_blank">
                <button class="button-sobre" type="button">
                    <i class="fa-brands fa-github"></i> Github
                </button>
            </a>
        </div>
    </div>

    <div class="card-dev">
        <img src="/imagens/nic.png" alt="Foto Nicole">
        <div>
            <h2>Nicole Brito</h2>
            <a href="https://www.linkedin.com/in/nicolebrito/" target="_blank">
                <button class="button-sobre" type="button">
                    <i class="fa-brands fa-linkedin-in"></i>Linkedin
                </button>
            </a>
            <a href="https://github.com/nicole-brito" target="_blank">
                <button class="button-sobre" type="button">
                    <i class="fa-brands fa-github"></i> Github
                </button>
            </a>
        </div>
    </div>

    <div class="card-dev">
        <img src="/imagens/rayla.png" alt="Foto Rayla">
        <div>
            <h2>Rayla Fernanda</h2>
            <a href="https://www.linkedin.com/in/rayla-fernanda-405153215/" target="_blank">
                <button class="button-sobre" type="button">
                    <i class="fa-brands fa-linkedin-in"></i>Linkedin
                </button>
            </a>
            <a href="https://github.com/raylasilva" target="_blank">
                <button class="button-sobre" type="button">
                    <i class="fa-brands fa-github"></i> Github
                </button>
            </a>
        </div>
    </div>
</div>

<footer>
    <img src="/imagens/logo-preto.png" alt="Logo KittyHelp">
    <div class="links">
        <p><strong>SOBRE A KITTYHELP</strong></p>
        <a href="/">Como funciona</a><br>
        <a href="/">Soluções</a><br>
        <a href="https://github.com/nicole-brito/projeto-elashelp">Documentação</a>
    </div>
    <div class="links">
        <p><strong>SOBRE NÓS</strong></p>
        <a href="/sobre">As Desenvolvedoras</a><br>
        <a href="https://soulcode.com">A SoulCode</a>
    </div>
    <a href="/escolhercadastro" class="client-area-link">
        Área do Cliente
        <i class="fa-solid fa-arrow-right-long"></i>
    </a>
</footer>
</body>
</html>