<!-- /tecnico/todos -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/estilos/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:text="'Olá, ' + ${nome} + '! | KittyHelp'"></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="logo-container">
            <img src="/imagens/logo.png" alt="Logo" style="height: 40px;">
            <span class="logo-text">KittyHelp</span>
        </div>
        <div class="navbar-nav mx-auto">
            <div class="greeting-section" style="display: flex; align-items: center">
            <span style="margin: 12px">Bem vindo, <strong><span th:text="${nome}"></span></strong>!</span>
            <span class="user-initials-circle"
              th:text="${#strings.toUpperCase(nome.charAt(0) + '' + nome.charAt(nome.indexOf(' ') + 1))}"></span>
        </div>
    </div><a style="margin-left: 8px" th:href="@{/logout}" class="btn btn-outline-danger">Sair</a>
  </div>
</nav>

<div class=" card-tecnico">
    <div class="card-body">
        <h2 class="mb-4">Seus Chamados a solucionar</h2>
        <br>

        <table class="table">
            <thead>
            <tr>
                <th>Data</th>
                <th>Titulo</th>
                <th>Descrição</th>
                <th>Setor</th>
                <th>Prioridade</th>
                <th>Status</th>
                <th>Ações</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${#dates.format(ticket.data, 'dd/MM/yyyy')}"></td>
                <td th:text="${ticket.titulo}"></td>
                <td th:text="${ticket.descricao}"></td>
                <td th:text="${ticket.setor}"></td>
                <td th:text="${ticket.prioridade}"></td>
                <td th:text="${ticket.status}"></td>
                <td><a th:href="@{/tickets/tec/editar/{id}/{idTecnico}(id=${ticket.id}, idTecnico=${idTecnico})}" class="btn btn-secondary">Alterar</a>
                <td>
                </td>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class=" card-tecnico">
    <div class="card-body">
        <h2 class="mb-4">Todos os Chamados</h2>
        <br>

        <table class="table">
            <thead>
            <tr>
                <th>Data</th>
                <th>Titulo</th>
                <th>Descrição</th>
                <th>Setor</th>
                <th>Prioridade</th>
                <th>Status</th>
                <th>Ações</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${allTickets}">
                <td th:text="${#dates.format(ticket.data, 'dd/MM/yyyy')}"></td>
                <td th:text="${ticket.titulo}"></td>
                <td th:text="${ticket.descricao}"></td>
                <td th:text="${ticket.setor}"></td>
                <td th:text="${ticket.prioridade}"></td>
                <td th:text="${ticket.status}"></td>
                <td><a th:href="@{/tickets/tec/editar/{id}/{idTecnico}(id=${ticket.id}, idTecnico=${idTecnico})}" class="btn btn-secondary">Atribuir Chamado</a>
              
                <td>
                </td>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            tickets: []
        },
        created() {
            this.fetchTickets();
        },
        methods: {
            fetchTickets() {
                fetch('/ticket')
                    .then(response => response.json())
                    .then(data => {
                        this.tickets = data;
                    })
                    .catch(err => console.error('Failed to fetch tickets:', err));
            }
        }
    });
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
